body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Open Sans', sans-serif, Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #424242;
    color: white;
}

.para {
    font-size: x-large;
    font-weight: lighter;
    margin: 48px 0;
}

button {
    padding: 64px;
    border-radius: 8px;
    font-size: medium;
}

button:active {
    border: 3px solid white;
    background-color: #424242;
    color: white;
}

button:disabled:active {
    border: unset;
    background-color: unset;
    color: unset;
}

#reload-btn {
    padding: 12px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 6px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

@media (max-width: 600px) {
    .para {
        font-size: medium;
    }

    #btns {
        display: flex;
        justify-content: center;
    }

    button {
        padding: 32px;
        gap: 8px;
        font-size: small;
    }

    button:active {
        border: 1px solid white;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: large;
    }

    button {
        font-size: x-small;
    }
}